<div class="container">
  <br />
  <div class="row">
    <div class="col">
      <h3>Create Player</h3>
    </div>
    <div class="col text-right">
      <a href="#" routerLink="/players/list" class="btn btn-secondary btn-sm">Back To Players List</a>
    </div>
  </div>
  <br />
  <form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm)">

    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input formControlName="firstName"
             id="firstName"
             type="text"
             class="form-control" />
    </div>

    <div class="form-group">
      <label for="secondName">Second Name:</label>
      <input formControlName="secondName"
             id="secondName"
             type="text"
             class="form-control" />
    </div>

    <div class="form-group">
      <label for="nathionalityId">Nathionality :</label>
      <select formControlName="nathionalityId"
              id="nathionalityId"
              class="form-control">
        <option value="">- Select -</option>
        <option *ngFor="let country  of countries" [ngValue]="country.id">
          {{country.countryName}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="age">Age :</label>
      <input formControlName="age"
             id="age"
             type="text"
             class="form-control" />
    </div>

    <div class="form-group">
      <label for="shamionShips">ChampionShips:</label>
      <input formControlName="shamionShips"
             id="shamionShips"
             type="text"
             class="form-control" />
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!createForm.valid" >Create</button>
  </form>
</div>
